html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
	display: block;
	margin: auto;	
}

.date_container {
	padding: 20px;
	line-height: initial;
}

.legend {
	border: 1px solid #000000;
	line-height: 0;
	text-align: left;
	margin-top: 40px;	
}

.width_50 {
	width: 50%;
}

.width_100{
	width: 100%;
}

.height_60 {
	height: 60%;
}

.height_700 {
	height: 700px;
}

.height_100 {
	height:100%;
}

.no_resize {
	resize: none;
}

.height_inherit{
	height: inherit;
}

.legend span {
	background-color: #ffffff;
	padding: 0 10px;
	margin: 0 20px;
	font-weight: bold;
}

#report_date_input {
	width: 100px;
	text-align: center;
}

